@charset "UTF-8";
.l-about {
  padding: 9.6rem 0 7.0rem;
}

@media screen and (min-width: 768px) {
  .l-about {
    padding: 15.2rem 0 7.0rem;
  }
}

.l-access {
  padding: 9.2rem 0 8.0rem;
}

@media screen and (min-width: 768px) {
  .l-access {
    padding: 14.3rem 0 21.6rem;
  }
}

.l-blog {
  padding: 7.0rem 0 15.4rem;
}

@media screen and (min-width: 768px) {
  .l-blog {
    padding: 7.0rem 0 13.0rem;
  }
}

.l-footer {
  padding: 0 2.0rem;
}

@media screen and (min-width: 768px) {
  .l-footer {
    padding: 0 1.5rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1054px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-item {
  padding: 4.5rem 0 1.0rem;
}

@media screen and (min-width: 768px) {
  .l-item {
    padding: 6.9rem 0 1.0rem;
  }
}

.l-price {
  padding: 15.5rem 0 14.0rem;
}

@media screen and (min-width: 768px) {
  .l-price {
    padding: 22.0rem 0 15.5rem;
  }
}

.c-scroll {
  position: absolute;
  bottom: 1.9rem;
  left: 50%;
  width: 1.7rem;
  height: 1.7rem;
  margin-left: -1rem;
  border-left: 0.5rem solid #fff;
  border-bottom: 0.5rem solid #fff;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .c-scroll {
    bottom: 3.9rem;
    left: 49.7%;
    width: 2.7rem;
    height: 2.7rem;
    margin-left: -1rem;
    border-left: 0.7rem solid #fff;
    border-bottom: 0.7rem solid #fff;
  }
}

.u-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

.u-show {
  display: none;
}

@media screen and (min-width: 768px) {
  .u-show {
    display: inline;
  }
}

/* FontFamily */
body {
  font-family: "游ゴシック体", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 10px;
}

@media (max-width: 375) {
  html {
    font-size: 2.66667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 0.99602vw;
  }
}

@media (min-width: 1004px) {
  html {
    font-size: 10px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul ol {
  list-style: none;
}

ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

address {
  font-style: normal;
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.p-footer {
  background: #6F6565;
  padding: 6.5rem 0;
}

@media screen and (min-width: 768px) {
  .p-footer {
    padding: 6.4rem 0 7.8rem;
  }
}

.p-footer__title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;

  letter-spacing: .2rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-footer__title {
    font-size: 8.0rem;
    letter-spacing: .4rem;
  }
}

.p-header {
  position: fixed;
  height: 8.0rem;
}

@media screen and (min-width: 768px) {
  .p-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 8.0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3.0rem 0 2.0rem;
  }
}

.p-header__logo {
  color: #fff;
  font-weight: 700;
  font-size: 2.0rem;
  letter-spacing: 1px;
  letter-spacing: .1rem;
  padding: 3.4rem 0 0 2.0rem;
}

@media screen and (min-width: 768px) {
  .p-header__logo {
    padding: 1.5rem 0 0 2.0rem;
  }
}

.p-header-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .p-header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.p-header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .p-header-nav__item {
    color: #fff;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
  }
  .p-header-nav__item:not(:first-child) {
    margin-left: 6.4rem;
  }
  .p-header-nav__item:hover a {
    position: relative;
    display: inline-block;
  }
  .p-header-nav__item:hover a::after {
    position: absolute;
    bottom: .4rem;
    left: 0;
    content: "";
    width: 100%;
    height: 0.3rem;
    background: #fff;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .p-header-nav__item:hover a:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.p-util {
  color: #000000;
  font-weight: 700;
}

.p-util__heading {
  font-size: 38px;
  font-size: 3.8rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  letter-spacing: 0.076rem;
}

.p-util__heading::after {
  position: absolute;
  content: "";
  left: 0;
  top: 6.5rem;
  width: 6.9rem;
  height: .5rem;
  background: #0A0A0A;
}

@media screen and (min-width: 768px) {
  .p-util__heading {
    font-size: 4.8rem;
  }
  .p-util__heading::after {
    top: 7.4rem;
  }
}

.p-util__lead {
  padding-top: 2.4rem;
  font-size: 1.2rem;
  line-height: 1.66667;
  display: block;
}

@media screen and (min-width: 768px) {
  .p-util__lead {
    font-size: 1.6rem;
    line-height: 1.6875;
    padding-top: 2.4rem;
  }
}

.p-util-price {
  text-align: center;
  padding-top: 6.0rem;
}

@media screen and (min-width: 768px) {
  .p-util-price {
    padding-top: 4.3rem;
  }
}

.p-util-price__heading {
  font-size: 3.8rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  letter-spacing: .076rem;
}

.p-util-price__heading::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 6.5rem;
  width: 6.9rem;
  height: .5rem;
  background: #0A0A0A;
}

@media screen and (min-width: 768px) {
  .p-util-price__heading {
    font-size: 4.8rem;
  }
  .p-util-price__heading::after {
    top: 7.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .p-about__inner {
    background: #F2F2F2;
    border: solid 1px #707070;
    max-width: 40.9rem;
    padding: 6.3rem 6.6rem 5.3rem;
    position: relative;
  }
}

.p-about-concept__title {
  margin-top: 2.8rem;
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .p-about-concept__title {
    font-size: 2.4rem;
    line-height: 1.60834;
    margin-top: 3.0rem;
  }
}

.p-about-concept__text {
  margin-top: 1.0rem;
  font-size: 1.2rem;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .p-about-concept__text {
    font-size: 1.6rem;
    margin-top: 0;
  }
}

.p-about__img {
  margin-top: 2.3rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-about__img {
    max-width: 49.4rem;
    text-align: center;
    margin: 0 0 0 10.0rem;
  }
}

.p-access-map {
  padding-top: 3.1rem;
}

@media screen and (min-width: 768px) {
  .p-access-map {
    padding: 14.7rem 12.3rem 0 14.0rem;
  }
}

.p-access-map__information {
  font-size: 2.4rem;
  line-height: 1.71;
  color: #000000;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .p-access-map__information {
    font-size: 2.4rem;
  }
}

.p-access-map__messages {
  padding-top: 1.6rem;
}

.p-access-map__message {
  color: #101010;
  letter-spacing: .06rem;
  font-size: 1.2rem;
  line-height: 2;
}

.p-access-map__message:nth-child(2) {
  padding-top: 2.3rem;
}

@media screen and (min-width: 768px) {
  .p-access-map__message {
    font-size: 1.6rem;
    letter-spacing: .08rem;
    line-height: 1.5;
  }
  .p-access-map__message:nth-child(2) {
    padding-top: 2.8rem;
  }
  .p-access-map__message:nth-child(3) {
    padding-top: 2.8rem;
  }
}

.p-access__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .p-access__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-access__items {
  padding: 2.6rem 0 13rem;
}

@media screen and (min-width: 768px) {
  .p-access__items {
    padding: 9.3rem 0 9.3rem;
  }
}

.p-access__item:not(:first-child) {
  padding-top: 1.9rem;
}

@media screen and (min-width: 768px) {
  .p-access__item:not(:first-child) {
    padding-top: 2.5rem;
  }
}

.p-access__head {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #101010;
}

@media screen and (min-width: 768px) {
  .p-access__head {
    font-size: 2.4rem;
  }
}

.p-access__foot {
  color: #101010;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .p-access__foot {
    font-size: 1.6rem;
    padding-top: 0.3rem;
  }
}

.p-blog {
  background: #F2F2F2;
  margin-right: calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);
}

.p-blog__inner {
  padding-top: 1.1rem;
}

@media screen and (min-width: 768px) {
  .p-blog__inner {
    padding-top: 5.8rem;
  }
}

.p-blog-items {
  margin-top: 3.7rem;
  display: grid;
  grid-template-rows: 57% 0%;
  grid-template-columns: 48% 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.7rem;
     -moz-column-gap: 1.7rem;
          column-gap: 1.7rem;
}

@media screen and (min-width: 768px) {
  .p-blog-items {
    margin-top: 6.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-blog__item {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .p-blog__item {
    max-width: 32.4rem;
  }
  .p-blog__item:nth-child(4) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .p-blog-item__img {
    max-width: 32.4rem;
  }
}

.p-blog__header {
  padding-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .p-blog__header {
    padding-top: 2.2rem;
  }
}

.p-blog__caption {
  letter-spacing: 0.012rem;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .p-blog__caption {
    font-size: 1.6rem;
    letter-spacing: 0.016rem;
    line-height: 2;
  }
}

.p-blog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-blog__catch {
  font-size: 1.2rem;
  letter-spacing: 0.012rem;
  color: #4D4D4D;
  padding-left: 1.9rem;
}

@media screen and (min-width: 768px) {
  .p-blog__catch {
    font-size: 1.6rem;
    letter-spacing: 0.016rem;
    line-height: 2;
  }
}

.p-blog__title {
  font-size: 1.2rem;
  letter-spacing: 0.012rem;
  color: #000000;
  padding-top: 0.3rem;
}

@media screen and (min-width: 768px) {
  .p-blog__title {
    font-size: 1.6rem;
    letter-spacing: 0.016rem;
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-card__img {

  }
}

.p-card__header {
  padding-top: 1.4rem;
}

@media screen and (min-width: 768px) {
  .p-card__header {
    padding-top: 2.0rem;
  }
}

.p-card__caption {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 700;
  letter-spacing: .024rem;
}

@media screen and (min-width: 768px) {
  .p-card__caption {
    font-size: 1.6rem;
    letter-spacing: .032rem;
  }
}

.p-card__title {
  padding-top: 1.0rem;
  font-size: 2.4rem;
  letter-spacing: .048rem;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 700;
  line-height: 1.41667;
}

@media screen and (min-width: 768px) {
  .p-card__title {
    padding-top: 2.4rem;
  }
}

.p-card__title--03 {
  padding-top: 3.0rem;
}

@media screen and (min-width: 768px) {
  .p-card__title--03 {
    padding-top: 2.4rem;
  }
}

.p-card__subtitle {
  padding-top: .7rem;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 500;
  line-height: 1.66667;
}

@media screen and (min-width: 768px) {
  .p-card__subtitle {
    font-size: 1.6rem;
    padding-top: 1.3rem;
    line-height: 1.75;
  }
}

.p-card__subtitle--center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-card__subtitle--center {
    padding-top: 1.7rem;
  }
}

.p-card__caption--large {
  font-size: 1.7rem;
  letter-spacing: .034rem;
}

@media screen and (min-width: 768px) {
  .p-card__caption--large {
    font-size: 1.6rem;
    letter-spacing: .032rem;
    padding-top: 2.0rem;
  }
}

.p-card__header--03 {
  padding-top: 2.1rem;
}

@media screen and (min-width: 768px) {
  .p-card__header--03 {
    padding-top: 0;
  }
}

.p-drawer {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  width: 8.0rem;
  height: 8.0rem;
  z-index: 40;
}

@media screen and (min-width: 768px) {
  .p-drawer {
    display: none;
  }
}

.p-drawer-bars {
  position: relative;
  width: 3.5rem;
  height: .3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-drawer-bars.is-active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-drawer-bars.is-active .p-drawer-icon__bar1 {
  display: none;
}

.p-drawer-bars.is-active .p-drawer-icon__bar2 {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.p-drawer-bars.is-active .p-drawer-icon__bar3 {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: .8rem;
}

.p-drawer-icon__bar1 {
  position: absolute;
  width: 3.5rem;
  height: .3rem;
  background: #111;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-drawer-icon__bar2 {
  position: absolute;
  width: 3.5rem;
  height: .3rem;
  background: #111;
  top: .8rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-drawer-icon__bar3 {
  position: absolute;
  width: 3.5rem;
  height: .3rem;
  background: #111;
  top: 1.6rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-drawer__content {
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  width: 30.4rem;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 30;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-drawer__content.is-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-drawer-content__items {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  color: #101010;
  padding: 11.0rem 4.0rem;
}

.p-drawer-content__item:not(:first-child) {
  margin-top: 3.7rem;
}

.p-hero {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/sp/hero-sp.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .p-hero {
    background-image: url(../../assets/images/common/hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.p-hero__inner {
  color: #fff;
  padding: 17.0rem 1.8rem 0;
}

@media screen and (min-width: 768px) {
  .p-hero__inner {
    padding: 36.0rem 10.0rem 40.0rem 14.0rem;
  }
}

.p-hero__title {

  font-size: 4.0rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .p-hero__title {
    font-size: 6.4rem;
  }
}

.p-hero__text {
  line-height: 1.5;

  letter-spacing: .08rem;

  font-size: 1.6rem;

  margin-top: .5rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .p-hero__text {
    font-size: 2.4rem;
    letter-spacing: .12rem;
    line-height: 1.33334;
    margin-top: 2.5rem;
  }
}

.p-iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 63%;
}

@media screen and (min-width: 768px) {
  .p-iframe-wrap {
    padding-top: 41.5%;
    margin-top: 22rem;
    margin-left: auto;
    max-width: 66.4rem;
  }
}

.p-iframe-wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-item__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1.7rem;
  }
}

.p-item__card {

  margin-top: 2.9rem;
}

@media screen and (min-width: 768px) {
  .p-item__card {
    width: 32.4rem;
    margin-top: 0;
  }
  .p-item__card:nth-child(2) {
    margin: 0 1.6rem;
  }
}

.p-item__card:nth-child(3) {

  margin-top: 4.8rem;
}

@media screen and (min-width: 768px) {
  .p-item__card:nth-child(3) {
    margin-top: 0;
  }
}

.p-item__card:nth-child(4) {

  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .p-item__card:nth-child(4) {
    margin-top: 0;
  }
}

.p-logo {
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.p-logo__text {

  font-size: 1.2rem;

  letter-spacing: .06rem;
}

.p-price__items {
  display: block;
}

@media screen and (min-width: 768px) {
  .p-price__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-price__item--left {
  border: solid 5px #a38787;

  height: 54.9rem;
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, .8);

  max-width: 37.5rem;
}

@media screen and (min-width: 768px) {
  .p-price__item--left {
    max-width: 49.4rem;
    width: 80%;
    margin: 0;
  }
}

.p-price__item--right {
  background-image: url(../images/common/Price.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -59.8rem calc(50% - 50vw) 0;
  width: 100vw;

  height: 64.6rem;
}

@media screen and (min-width: 768px) {
  .p-price__item--right {
    max-width: 66.3rem;
    margin-top: 9.2rem;
    margin: 9.2rem 0 0 -15.3rem;
    height: 88.4rem;
  }
}

.p-price__lists {

  padding: 6.6rem 5.6rem 0;
}

@media screen and (min-width: 768px) {
  .p-price__lists {
    padding: 6.2rem 8.0rem 0;
  }
}

.p-price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 1.5rem 0;
}

.p-price__list:not(:last-child) {
  border-bottom: dashed 1px #111;
}

@media screen and (min-width: 768px) {
  .p-price__list {
    padding: 1.2rem 0;
  }
}

.p-price__text {
  color: #000000;

  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .p-price__text {
    font-size: 1.6rem;
  }
}

.p-price__money {
  color: #000000;

  font-size: 1.2rem;
  margin-left: auto;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .p-price__money {
    font-size: 1.6rem;
  }
}
